![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# Exercícios - Pandas Series

Neste notebook, encontram 20 exercícios que vos permitirão aprender as bases acerca de Pandas Series.

1 - Importe as bibliotecas numpy e pandas.

In [4]:
import numpy as np
import pandas as pd

2 - Crie uma Pandas Series através de uma lista contendo números de 0 a 10 guardados como strings.

In [3]:
list_a = ['0','1','2','3','4','5','6','7','8','9','10']
my_series = pd.Series(list_a)
my_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: object

3 - Crie uma serie a partir de um array com números entre 0 e 5.

In [5]:
arr = np.arange(6)
series_1 = pd.Series(arr)
series_1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64


4 - Crie uma serie a partir do seguinte dicionário:

dict_1 = {'a':0, 'b':1, 'c':2, 'd':3, 'e':4}

In [6]:
dict_1 = {'a':0, 'b':1, 'c':2, 'd':3, 'e':4}
series_2 = pd.Series(dict_1)
series_2

a    0
b    1
c    2
d    3
e    4
dtype: int64

5 - Dê um nome à serie anterior.

In [8]:
series_2.name = 'Labels'
series_2

label1    0
label2    1
label3    2
label4    3
label5    4
Name: Labels, dtype: int64

6 - Modifique os índices da serie anterior para:

['label1', 'label2', 'label3', 'label4', 'label5']

In [7]:
series_2.index = ['label1', 'label2', 'label3', 'label4', 'label5']
series_2

label1    0
label2    1
label3    2
label4    3
label5    4
dtype: int64

7 - Dadas as seguintes listas:

a = np.array([1, 2, 3, 4, 5, 6])

b = np.array([4, 5, 6, 7, 8, 9])

Converta as listas em series e, em seguida, crie uma nova serie que contenha os elementos que são comuns a ambas as séries 'a' e 'b', ou seja, os elementos que estão presentes em ambas as listas.

In [9]:
a = np.array([1, 2, 3, 4, 5, 6])
b = np.array([4, 5, 6, 7, 8, 9])

In [10]:
series_a = pd.Series(a)
series_b = pd.Series(b)

In [11]:
new_series = series_a[series_a.isin(series_b)]
new_series

3    4
4    5
5    6
dtype: int64

8 - Encontre os elementos que não são comuns entre 'a' e 'b'.

In [12]:
no_com_a = series_a[~series_a.isin(series_b)]
no_com_b = series_b[~series_b.isin(series_a)]

no_com = no_com_a.append(no_com_b, ignore_index=True)
no_com

<ipython-input-12-5e8162238088>:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  no_com = no_com_a.append(no_com_b, ignore_index=True)

0    1
1    2
2    3
3    7
4    8
5    9
dtype: int64

9 - Calcule o mínimo, máximo e percentis 25 e 75 da series 'b'.

In [13]:
print('minimum =', series_b.min(), 'maximum =', series_b.max(), 'percentile 25 =', series_b.quantile(q=0.25), 'percentile 75 =', series_b.quantile(q=0.75))

minimum = 4 maximum = 9 percentile 25 = 5.25 percentile 75 = 7.75

In [14]:
series_b.describe()

count    6.000000
mean     6.500000
std      1.870829
min      4.000000
25%      5.250000
50%      6.500000
75%      7.750000
max      9.000000
dtype: float64

10 - Calcule a frequência de cada elemento único da seguinte series:

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))

In [15]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     h
1     h
2     f
3     f
4     h
5     f
6     h
7     d
8     f
9     b
10    h
11    e
12    d
13    g
14    c
15    d
16    a
17    h
18    c
19    b
20    d
21    d
22    e
23    c
24    e
25    e
26    c
27    b
28    d
29    g
dtype: object

In [16]:
ser.value_counts()

h    6
d    6
f    4
e    4
c    4
b    3
g    2
a    1
dtype: int64

11 - A partir da series anterior, mantenha os 3 elementos mais frequentes e altere os restantes para "...".

In [19]:
freq_indx_top_3 = ser.value_counts(sort=True, ascending=False)[:3].index

In [20]:
ser[~ser.isin(freq_indx_top_3)] = '...'
ser

0       h
1       h
2     ...
3     ...
4       h
5     ...
6       h
7       d
8     ...
9     ...
10      h
11    ...
12      d
13    ...
14    ...
15      d
16    ...
17      h
18    ...
19    ...
20      d
21      d
22    ...
23    ...
24    ...
25    ...
26    ...
27    ...
28      d
29    ...
dtype: object

12 - Encontre as posições dos números da series que se segue que são múltiplos de 2.

ser = pd.Series(np.random.randint (1, 10, 10))

In [21]:
np.random.seed(100)
ser = pd.Series(np.random.randint (1, 10, 10))
ser

0    9
1    9
2    4
3    8
4    8
5    1
6    5
7    3
8    6
9    3
dtype: int64

In [22]:
ser[ser % 2 == 0].index.to_list()

[2, 3, 4, 8]

13 - Extraia os elementos da seguinte series que se encontram nas posições especificadas.

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 5, 9, 16, 21]

In [23]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 5, 9, 16, 21]

ser.take(pos)

0     a
5     f
9     j
16    q
21    v
dtype: object

In [24]:
ser[pos]

0     a
5     f
9     j
16    q
21    v
dtype: object

14 - Empilhe (stack) as series series_1 e series_2 tanto horizontalmente como verticalmente.

series_1 = pd.Series(np.arange(0, 5, 1))

series_2 = pd.Series(list('abcde'))

In [25]:
series_1 = pd.Series(np.arange(0, 5, 1))
series_1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [26]:
series_2 = pd.Series(list('abcde'))
series_2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [27]:
series_h = pd.concat([series_1, series_2], axis=1) #horizontal
series_h

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [28]:
series_v = pd.concat([series_1, series_2], axis=0, ignore_index=True) #vertical
series_v

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

15 - Filtre os elementos de series_1 que também se entram na series_2.

series_1 = pd.Series ([9, 11, 6, 10, 3, 1, 15, 8, 13])

series_2 = pd.Series ([1, 3, 11, 14])

In [30]:
series_1 = pd.Series ([9, 11, 6, 10, 3, 1, 15, 8, 13])

series_2 = pd.Series ([1, 3, 11, 14])

In [31]:
series_1[series_1.isin(series_2)]

1    11
4     3
5     1
dtype: int64

16 - Capitalize a primeira letra de cada elemento da seguinte series:

my_phrase = pd.Series(['como', 'domina', 'a', 'programação', 'em', 'Python?'])

In [32]:
my_phrase = pd.Series(['como', 'domina', 'a', 'programação', 'em', 'Python?'])

In [33]:
my_phrase.str.title()

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

In [35]:
pd.Series([i.title() for i in my_phrase])

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

In [34]:
my_phrase.map(lambda x : x.title())

0           Como
1         Domina
2              A
3    Programação
4             Em
5        Python?
dtype: object

17 - Calcule o número de caracteres de cada elemento da serie anterior.

In [37]:
pd.Series([len(i) for i in my_phrase], index=my_phrase)

como            4
domina          6
a               1
programação    11
em              2
Python?         7
dtype: int64

In [36]:
my_phrase.map(lambda x: len(x))

0     4
1     6
2     1
3    11
4     2
5     7
dtype: int64

18 - Calcule o número de valores únicos da seguinte series:

numbers = pd.Series([2, 8, 3, 5, 8, 10, 2, 2, 3])

In [38]:
numbers = pd.Series([2, 8, 3, 5, 8, 10, 2, 2, 3])

In [39]:
numbers.nunique()

5

19 - Tendo em conta a series anterior, calcule a diferença entre elementos consecutivos.

In [40]:
numbers.diff()

0    NaN
1    6.0
2   -5.0
3    2.0
4    3.0
5    2.0
6   -8.0
7    0.0
8    1.0
dtype: float64

20 - Tendo em conta o texto que se segue, liste os caracteres que menos ocorrem no texto.

text = "Explorar a vastidão do universo é uma tarefa desafiadora, mas fascinante. Na imensidão do espaço, descobrimos mistérios que nos intrigam e nos fazem questionar nosso lugar no cosmos."

In [41]:
text = "Explorar a vastidão do universo é uma tarefa desafiadora, mas fascinante. Na imensidão do espaço, descobrimos mistérios que nos intrigam e nos fazem questionar nosso lugar no cosmos."
sr = pd.Series(list(text))
freq = sr.value_counts()
print("Caracteres menos frequentes:")
print(freq[freq == freq.min()])

Caracteres menos frequentes:
b    1
E    1
ç    1
N    1
x    1
z    1
dtype: int64