![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# Exercícios - Pandas DataFrames

Este notebook contm 27 exercícios focados em Pandas DataFrames.

In [ ]:
import pandas as pd
import numpy as np

1 - Converta a seguinte série num dataframe com 6 colunas e 8 linhas.

series_a = pd.Series(np.random.randint (1, 10, 48))

2 - Combine as seguintes séries e forme um dataframe.

ser1 = pd.Series(np.arange(20))

ser2 = pd.Series(list('abcedfghijklmnop'))

3 - Crie um dataframe a partir do seguinte dicionário

student_info = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [21, 22, 20, 23, 22],
    'grade': [85, 92, 78, 95, 88],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}

4 - Especifique as seguintes etiquetas no dataframe anterior:

tags = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

5 - Obtenha um resumo descritivo do dataframe anterior.

6 - Obtenha um resumo estatístico do dataframe anterior.

7 - Quantas filas e colunas tem o dataframe?

8 - Imprima o nome de todas as colunas do dataframe.

9 - Extraia as 2 primeiras linhas do dataframe.

10 - Escreva um programa que imprima as colunas 'a' e 'b' do dataframe.

11 - Substitua todos os valores da coluna 'a' por 'H' quando a coluna 'b' tem valor igual ou maior que 22.

12 - Selecione os casos em que a coluna 'c' tem valor acima de 90 e ordene esses casos consoante o conteúdo da coluna 'd'.

13 - Selecione os casos em que a coluna 'a' é diferente de 'H' ou a coluna 'c' é maior que 88.

14 - Crie um novo dataframe com o dicionário seguinte. Depois, verifique os casos em que a coluna 'B' não tem valores atribuídos.

data = {'A': [1, 2, 3, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [9, 10, 11, 12]}

15 - Calcule a soma do total da coluna 'A'.

16 - Calcule a média dos valores da coluna 'C'.

17 - Adicione a seguinte linha ao dataframe anterior.

new_row = {'A': 5, 'B': 6, 'C': 7}

18 - Elimine a coluna 'B'.

19 - Ordene o dataframe em ordem decrescente relativamente à coluna 'A' e em ordem ascendente relativamente à coluna 'D'.

20 - Adicione uma coluna 'D' com os seguintes valores: [10, 20, 30, 40]

21 - Itere sobre cada coluna do dataframe para obter o resultado da seguinte operação para cada linha: **A * C / D**.

22 - Renomeie a coluna "A" para "B".

23 - Para cada coluna, conte o número de nulls.

24 - Adicione uma nova coluna 'E' apenas com NaNs. Depois,substituia todos esses valores nulos por 0.

25 - Esconda os índices de dataframe.

26 - Dado o seguinte dataframe, selecione a linha com índice 2.

col1 col2 col3

0 1 4 7

1 4 5 8

2 3 6 9

3 4 7 0

4 5 8 1

27 - Crie o seguinte dataframe e selecione a linha que contém o valor máximo na coluna 2.

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}