In [1]:
import os
import pandas as pd

In [2]:
path_schema = './tables/'

In [3]:
lst_schema_names = []
lst_schema_tables = []
for filename in os.listdir(path_schema):
    if filename[-3:] == 'csv':
        if 'classic' not in filename:
            lst_schema_names.append(filename[:-4])
            lst_schema_tables.append(pd.read_csv(path_schema+filename))
            print(filename)
        else:
            df_schema = pd.read_csv(path_schema+filename)

customers.csv
employees.csv
offices.csv
orderdetails.csv
orders.csv
payments.csv
productlines.csv
products.csv
reviews.csv
reviews_sql.csv

In [4]:
dict_all = {}
for i_range in range(len(lst_schema_names)):
    #print(i_range)
    dict_all[lst_schema_names[i_range]] = lst_schema_tables[i_range].fillna('')

In [5]:
dict_all.keys()

dict_keys(['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products', 'reviews', 'reviews_sql'])

In [6]:
import json
import sqlite3
from sqlalchemy import create_engine, text

In [7]:
conn = sqlite3.connect('classic_model.sqlite')
cur = conn.cursor()

# Testando Tabelas Criadas

In [8]:
def ret_values(table_name:str)->None:
    try:
        cur.execute(f"""
            SELECT 
                *
            FROM {table_name}
        """)
        print(cur.fetchall())
    except Exception as e:
        print(e)

In [9]:
def ret_schema(table_name:str)-> None:
    """cid      name          type     notnull  dflt_value  pk"""
    try:
        cur.execute(f"""
        pragma table_info({table_name});
        """)
        lst = cur.fetchall()
        for item in lst:
            print(item)
    except Exception as e:
        print(e)

# Inserindo Valores

In [10]:
dict_all['customers'].head(3)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370.0,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166.0,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.0

In [11]:
dict_all['customers'].columns

Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

In [12]:
dict_all.keys()

dict_keys(['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products', 'reviews', 'reviews_sql'])

In [13]:
for key_a in dict_all.keys():
    print(key_a)

customers
employees
offices
orderdetails
orders
payments
productlines
products
reviews
reviews_sql

In [14]:
for key_a in dict_all.keys():
    
    key = key_a
    
    feat_names = list(dict_all[key].columns)
    lst_values = ','.join(feat_names)
    p_feat_names = [':'+x for x in feat_names] # feat_with :
    p_feat_names = ','.join(p_feat_names)
    print(key)
    for index in range(len(dict_all[key])):
        dict_t = {}
        for feat in feat_names:
            dict_t[str(feat)] = dict_all[key].iloc[index][feat]

        a = str(dict_t)
        exec(f'dict_a = {a}')
        str_in = f'INSERT or IGNORE INTO {key} values ({p_feat_names})'  

        cur.execute(str_in, dict_a)

customers
employees
offices
orderdetails
orders
payments
productlines
products
reviews
reviews_sql

In [15]:
pd.read_sql('select * from customers', conn).head(3)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.0

In [16]:
pd.read_sql('select * from offices', conn).head(3)

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,
1,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,
2,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,

In [17]:
def ret_schema(table_name:str)-> None:
    """cid      name          type     notnull  dflt_value  pk"""
    try:
        cur.execute(f"""
        pragma table_info({table_name});
        """)
        lst = cur.fetchall()
        for item in lst:
            print(item)
    except Exception as e:
        print(e)

In [18]:
ret_schema('customers')

(0, 'customerNumber', 'INTEGER', 1, None, 1)
(1, 'customerName', 'TEXT', 1, None, 0)
(2, 'contactLastName', 'TEXT', 1, None, 0)
(3, 'contactFirstName', 'TEXT', 1, None, 0)
(4, 'phone', 'TEXT', 1, None, 0)
(5, 'addressLine1', 'TEXT', 1, None, 0)
(6, 'addressLine2', 'TEXT', 0, None, 0)
(7, 'city', 'TEXT', 1, None, 0)
(8, 'state', 'TEXT', 0, None, 0)
(9, 'postalCode', 'TEXT', 0, None, 0)
(10, 'country', 'TEXT', 1, None, 0)
(11, 'salesRepEmployeeNumber', 'INTEGER', 0, None, 0)
(12, 'creditLimit', 'REAL', 0, None, 0)